body {
    background-color: rgb(231, 223, 223);
}

main {
    padding: 14px 16px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}

a {
    
}

footer {
    padding: 14px 16px;
    background-color: #333;
    color: #f2f2f2;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}

/* Add a black background color to the top navigation */
.navigation {
    background-color: #333;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
}
  
  /* Style the links inside the navigation bar */
.navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.navigation a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
.navigation a.active {
    background-color: #4CAF50;
    color: white;
}